<div class="hero-unit">
	
<h1>Welcome to Rails!</h1>
<p>This is great to learn Rails. <%= link_to "Azad Labs", "http://azadlabs.com/"
 %></p>

<p>
	<%= link_to "Sign Up Now!", '#', class: "btn btn-primary btn-large" %>
</p>

</div>